*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

header {
  background: rgba(6, 34, 56, 0.65);
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  transition:all 0.4s ease-in-out;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

ul li a:hover {
  color: #34a4ff;
}

.hero-section {
  background-image: url(../images/tech.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.hero-section .dark-overlay{
  backdrop-filter: brightness(0.2);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 48px;
}

.hero-section .dark-overlay .description-content{
  width: 800px;
}
 
.description-content h2{
  color: #34a4ff;
  font-size: 56px;
  line-height: 56px;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.description-content p{
  color: #fff;
  font-size: 28px;
  margin-bottom: 48px;
}

.learn-button {
  background-color: #ffffff;
  color: #34a4ff;
  font-size: 24px;
  font-weight: 700;
  border-radius: 12px;
  padding:12px 24px;
  cursor: pointer;
}

.about, .services, .contact, .founders {
  margin: 24px 25px 58px;
}

.about-description{
  font-size: 20px;
  margin-top: 16px;
  text-align: justify;
}

.text{
  font-size: 56px;
  line-height: 56px;
  color: #34a4ff;
  text-align: center;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.card{
  background: #f9f9f9;
  border-radius: 4px;
  width: 300px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.image{
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card-img{
  width: 150px;
  border-radius: 50%;
}

.card h3{
  font-size: 18px;
  margin: 4px 0;
}

.card h5{
  font-size: 16px;
  margin: 4px 0;
  font-weight: 400;
  text-align: center;
}
.contact{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contactForm{
  padding: 0 10%;
  width: 100%;
}

.name, .email, .message{
  width: 100%;
  border-radius: 4px;
  border: 1px solid #727272;
  padding: 10px;
  margin: 10px 0;
}
.name, .email{
  height: 40px;
}
.message{
  height: 150px;
  resize: none;
}
.submit{
  background: #34a4ff;
  color: white;
  border: none;
  display: block;
  margin: auto;
  font-size: 24px;
  font-weight: 700;
  border-radius: 12px;
  padding:12px 24px;
  cursor: pointer;

}

footer {
  background: #333;
  color: white;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
}

.foot-container{
  text-align: center;
}

.nav-icon, #sidebar{
  display:none;
}
#sidebar{
  position: absolute;
  z-index: 99;
  right: 0;
  top: 50px;
  background-color: #34a4ff;
}
#sidebar ul{
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 100vw;
  height: calc(100vh - 50px);
}
#sidebar ul li{
  display: block;
  text-align: center;
  margin: 10px 0;
  font-size: large;
}

@media screen and (max-width: 500px) { 
  .hero-section .dark-overlay{
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .hero-section .dark-overlay .description-content{
    width: 100%;
    text-align: center;
  }
   
  .about, .services, .contact, .founders {
    padding-top: 50px;
  }

  .description-content h2{
    font-size: 40px;
    line-height: 40px;
  }
  
  .description-content p{
    color: #fff;
    font-size: 24px;
  }  

  .text{
    font-size: 40px;
    line-height: 40px;
  }
  
  .cards{
    grid-template-columns: 1fr;
  }
  
  .card-img{
    width: 250px;
  }

  #navigation{
    display:none;
  }
  
  .nav-icon{
    display: block;
  }
}